.consultation_view_mother{
     padding: 0 15px;
 }
#consultation_all_modal .thumbnail_main_container{
    padding: 0;
    background-color: pink;
}
.search_consultation_container{
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
}
.thumbnail_container{
    text-align: center;
    padding: 15px;
    height: 640px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #cccccc;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .thumbnail_container{
        height: 300px;
    }
}
.thumbnail_wrapper{
    height: 100px;
    width: 80px;
    overflow: hidden;
    box-shadow: -2px 2px 1px 0px #ccc;
    margin: auto;
}
.thumbnail_wrapper:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
.thumbnail_wrapper_focused{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
.thumbnail_wrapper table{
    background-color: #fff;
}
.thumbnail_wrapper tr{
    font-size: 1px; !important;
}
.thumbnail_wrapper p{
    margin: 0px;
    line-height: 2px; !important;
}
/*.thumbnail_wrapper tr{
    line-height: 1px;
}*/
.thumbnail_wrapper_main{
    margin-bottom: 5px;
}
.thumbnail_wrapper_main p.page_number{
    text-align: center;
    font-size: 11px;
}
.consultation_view_main_container{
    height: 700px;
}
.consultation_header_wrapper{
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
}
.consultation_body_wrapper{
    height: 640px;
    padding: 20px 80px;
    overflow-y: scroll;
    background-color: #333;
    border: 1px solid #cccccc;
}

.consultation_container{
    margin: auto;
}
.consultation_container table{
    background-color: #fff;
}

.arrow_updown_btn{
    position: absolute;
    margin-top: -10px;
    margin-left: -70px;
}
.arrow_updown_btn button{
    display: block;
}
.arrow_updown_btn button:first-child{
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .consultation_body_wrapper{
        padding: 0px;
    }
    .arrow_updown_btn{
        margin-top: 0px;
        margin-left: 0px;
    }
    .arrow_updown_btn button{
        background-color: rgba(0,0,0,.3);
    }
    .arrow_updown_btn button:hover{
        background-color: rgba(0,0,0,.6);
    }
    .arrow_updown_btn button i{
        color: #eee;
    }
}


.close_consultation_form{
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999999;
}
.close_consultation_form .close_consultation_form_content{
    position: absolute;
    top: 45%;
    left: 35%;
    padding: 15px;
    border: 3px solid #333;
    background-color: #ccc;
}



.smoke_cessation_dialog_box{
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999999;
}
.smoke_cessation_dialog_box .close_consultation_form_content{
    position: absolute;
    top: 30%;
    left: 35%;
    padding: 15px;
    border: 3px solid #333;
    background-color: #ccc;
}

@media only screen and (max-width: 768px) {
    .close_consultation_form .close_consultation_form_content{
        top: 30%;
        left: 0;
    }
    .smoke_cessation_dialog_box .close_consultation_form_content{
        top: 30%;
        left: 0;
    }
}


.icon_indicator{
    color: #008d4c;
    position: absolute;
    margin-left: -30px;
    margin-top: -15px;
    display: none;
}

.referral_clinic_spinner, .referral_clinic_doctor{
    display: none;
}

.referral_history_table_parent{
    height: 400px;
    overflow: scroll;
}

/*.color_indicator{
    border: 1px solid #008d4c;
    box-shadow: inset 0 0 5px #00b35f; !important;
    border-radius: 0px;
}*/






